.Heading_level_1{
    font-size: 54px;
    letter-spacing: -.04em;
    font-family: UniversalSans-740-Headlines,Arial,sans-serif;
    /* font-size: 40px; */
    font-weight: 740;
    line-height: 110%;
    letter-spacing: -.03em;
}
.Heading_level_1{
    padding-bottom: 30px;

}
.para2{
    font-size: 30px;
    letter-spacing: -.04em;
    /* font-family: UniversalSans-0-Headlines,Arial,sans-serif; */
    color: #2f2f2f;
    line-height: 40px;
}
.sectionback{
    background: #f4f5f8;
    padding-bottom: 122px;
}


.links{
    font-size: 22px;
    line-height: 135%;
    letter-spacing: -.02em;
    font-family: UniversalSans-500,Arial,sans-serif;
    font-weight: 500;
    letter-spacing: -.01em;
}
  

.links{
    position: relative;
    text-decoration: none;
    color: black;

}
.links .bottom_border:before {
    display: block;
    content: "";
    padding-top: 4px;
    border-bottom: 2px solid #4b4b4b;
    transform: scaleX(0);
    transform-origin: 0 50%;
    bottom: 0;
    left: 23px;
    position: absolute;
    width: 67%;
    transition: transform .3s ease-in-out;
}
.links:hover .bottom_border:before{
    transform: scaleX(1);
    transform-origin: 0 50%;
    transition-delay: .3s;
}
.links .bottom_border:before {
    display: block;
    content: "";
    padding-top: 4px;
    border-bottom: 2px solid #4b4b4b;
    transform: scaleX(0);
    transform-origin: 0 50%;
    bottom: -49%;
    position: absolute;
    width: 100%;
    left: 0;
    transition: transform .3s ease-in-out;
}
.links:hover .bottom_border:before{
    transform: scaleX(1);
    transform-origin: 0 50%;
    transition-delay: .3s;
}
.links svg{
    padding-left: 6px;
    position: absolute;
    height: 42px;
    width: 50px;
    fill: #bbc4d2;
    transition: transform .3s ease-in-out;
}
.links:hover svg{
    fill: #000;
}
.links:before {
    border-bottom: 2px solid #bbc4d2;
    width: calc(100% - 48px);
    content: "";
    position: absolute;
    bottom: -13px;
    width: 100%;
    height: 1px;
}

.sectionback{
    position: relative;
}
/* .VidM{
    position: absolute;
    right: 0;
    width: 700px;
    height: 700px;
    top: -50px;
}
.trustVid{
    position: relative;
    z-index: 100;
    top: 0;
} */

.VidM{
    position: absolute;
    top: -32px;
    width: 600px;
    height: 600px;
}
.sectionback{
    overflow-x: hidden;
}

@media(max-width:767px){
    .VidM{
        position: relative;
        height: auto;
        padding-top: 50px;
        z-index: 0;
    }
    .CalltoAction_links{
        z-index: 2;
    }
}