h2.accordionHeader{
    border-bottom: 1px solid #31303e;
    line-height: 70px;
}
h2.accordionHeader button{
    font-size: 28px;
    font-weight: 500;
    font-family: 'UniversalSans-500';
    background: transparent !important;
    color:#fff !important;
}
h2.accordionHeader:hover{
    color: #a9aaad;
}
.heading2{
    font-size: 50px;
    font-weight: 700;
    font-family: 'UniversalSans-740-Headlines';
}
h2.accordionHeader button.collapsed{
    background: transparent !important;
}
.para{
    font-size: 26px;
    font-family: 'UniversalSans-500';
    font-weight: 500;
    font-family: UniversalSans-500, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -.01em;
    /* z-index: 2; */
    color: #a9aaad;
    /* opacity: 0; */
    transition-property: opacity;
    transition-duration: .25s;
    transition-timing-function: var(--easeOutExpo); 
}

.brands button.accordion-button {
    background: transparent !important;
}
.bgcolor{
    background:#17191f;
}
.brands .accordionitemHome {
    border-bottom: 1px solid #303030;
    background: transparent !important;
}
.brands .accordionHeader{
    background: transparent !important;
}
.brands .accordion-button.collapsed{
    background: transparent !important;
}