.grid-slider {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none; /* Hide scrollbar for non-Firefox browsers */
    -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
  }
  
  .grid-slider::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Webkit browsers */
  }
  
  .slide {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  